{% extends 'layout.html.twig' %}

{% block title %}Produits{% endblock %}

{% block content %}

			<div class="row">
				<div class="col-md-3">
					{{ render(controller(
						"App\\Controller\\StoreController::listBrandscontact", {'brand': brandId},
					)) }}
				</div>
				<div class="col-md-9">	
					<p class="lead">Nos produits " Toutes les marques "</p>
					<div class="row text-center">
					{% for product in products %}
						<div class="col-md-4 col-sm-6 hero-feature">
							{{include('productItem.html.twig')}}
						
						</div>
						
					{% endfor %}
					</div>
				</div>
			</div>

{% endblock %}