<p class="lead">Nos marques</p>
	<div class="list-group">
		<a href="{{path('store_products')}}" class="list-group-item {% if brandId == null %} active {% endif %}">Toutes les marques</a>
			{% for brand in brands %}
			<a href="{{path('store_products_brand',  {'brand': brand.id}) }}" class="list-group-item {% if brandId == brand.id %} active {% endif %} ">{{brand.name|capitalize}}</a>
			{% endfor %}
	</div>
